*, html {
    box-sizing: border-box;
    margin: 0;
}

.top {
    height: 150px;
    width: 100%;
    background: rgba(0,0,0,.74);
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sides {
    height: 550px;
    width: 13%;
    background: rgba(0,0,0,.07);
    margin: 0;
}

.bottom {
    height: 75px;
    width: auto;
    padding-left: 1000px;
    margin-top: 475px;
    background: rgba(0,0,0,.74);
}


